<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename ='css/style.css')}}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <title>Add Order</title>
</head>

<body>
    <div class="container">
        <h1 class="text-center mb-4">Order Cookies</h1>
        <div class="d-flex justify-content-between align-items-center">
            <h3 class="mb-3">Order More Cookies:</h3>
            <a href="/cookies">Back to Purchases</a>
        </div>
        <form action="/cookies/add/new" method="post">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <label for="name" class="form-label">Customer Name: </label>
            <input type="text" class="form-control w-50 mb-2" name="name">
            <label for="cookie_name" class="form-label">Cookie Name:</label>
            <input type="text" class="form-control w-50 mb-2" name="cookie_name">
            <label for="box_count" class="form-label">Number of Boxes: </label>
            <input type="number" class="form-control w-50 mb-3" name="box_count">
            <span class="d-flex" ><input type="submit" value="Add Order"></span>
        </form>
        </table>
    </div>
</body>

</html>